<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    
    	<!-- user alias -->
        <typeAlias alias ="UserDTO" type="com.proj.team.user.domain.UserDTO"/>
        
        <!-- bread alias -->
        <typeAlias alias="StoreDto" type="com.proj.team.bread.domain.StoreDto"/>
        <typeAlias alias="SearchCondition" type="com.proj.team.bread.domain.SearchCondition"/>
        <typeAlias alias="TourDto" type="com.proj.team.bread.domain.TourDto"/>
        
        <!--board alias-->
        <typeAlias alias ="BoardVO" type="com.proj.team.board.domain.BoardVO"/>
        <typeAlias alias ="Criteria" type="com.proj.team.board.domain.Criteria"/>
    </typeAliases>
    
    
</configuration>

