<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.proj.team.dao.UserMapper">

<!-- Admin 관리 페이지-->
 <select id="selectAll" resultType="UserDTO">
 	SELECT *
 	FROM b_user
 </select>

<!-- 로그인 페이지 -->
<select id="check" parameterType="String" resultType="int">
	SELECT COUNT(*)
 	FROM b_user
 	WHERE U_ID=#{u_id} 
 	AND U_PASS=#{u_pass}
</select>

<select id="login" parameterType="UserDTO" resultType="UserDTO">
	SELECT *
 	FROM b_user
 	WHERE U_ID=#{u_id} 
 	AND U_PASS=#{u_pass}
</select>

<!--  -->




</mapper>